# Xcode
DerivedData/
build/
*.xcworkspace
!default.xcworkspace

# User-specific Xcode settings
*.xcuserstate
*.xcuserdata/
*.moved-aside
*.swp
*.tmp

# macOS
.DS_Store

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
xcuserdata/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Archives
*.xcarchive
